@import '@symbiotetech/symbiote-component-library/src/styles/variables/colors';

// Colors
.color-palette {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;

    .color {
        flex: 1;

        &.red-1 {
            background-color: $red-aa-small;
        }

        &.red-2 {
            background-color: $red-aa-large;
        }

        &.orange-1 {
            background-color: $orange-aa-small;
        }

        &.orange-2 {
            background-color: $orange-aa-large;
        }

        &.green-1 {
            background-color: $green-aa-small;
        }

        &.green-2 {
            background-color: $green-aa-large;
        }

        &.cyan-1 {
            background-color: $cyan-aa-small;
        }

        &.cyan-2 {
            background-color: $cyan-aa-large;
        }

        &.blue-1 {
            background-color: $blue-aa-small;
        }

        &.blue-2 {
            background-color: $blue-aa-large;
        }

        &.purple-1 {
            background-color: $purple-aa-small;
        }

        &.purple-2 {
            background-color: $purple-aa-large;
        }

        &.violet-1 {
            background-color: $violet-aa-small;
        }

        &.violet-2 {
            background-color: $violet-aa-large;
        }

        &.gray-1 {
            background-color: $gray-aa-small;
        }

        &.gray-2 {
            background-color: $gray-aa-large;
        }

        &.gray-3 {
            background-color: $gray-non-aa;
        }

        &.gray-4 {
            background-color: $gray-non-aa-medium;
        }

        &.gray-5 {
            background-color: $gray-non-aa-light;
        }

        &.gray-6 {
            background-color: $gray-non-aa-lightest;
        }

        &.black {
            background-color: $black;
        }
    }
}

.color-typography {
    display: flex;
    flex-direction: row;

    .small-colors, .large-colors {
        flex: 1;
        b {
            font-size: 1.7rem;
        }

        h3 {
            margin: 0;
        }
    }

    .small-colors {
        .red-small {
            color: $red-aa-small;

        }

        .orange-small {
            color: $orange-aa-small;

        }

        .green-small {
            color: $green-aa-small;

        }

        .cyan-small {
            color: $cyan-aa-small;

        }

        .blue-small {
            color: $blue-aa-small;

        }

        .purple-small {
            color: $purple-aa-small;

        }

        .violet-small {
            color: $violet-aa-small;

        }

        .gray-small {
            color: $gray-aa-small;

        }

    }

    .large-colors {
        flex: 1;
        .red-large {
            color: $red-aa-large;
        }

        .orange-large {
            color: $orange-aa-large;
        }

        .green-large {
            color: $green-aa-large;
        }

        .cyan-large {
            color: $cyan-aa-large;
        }

        .blue-large {
            color: $blue-aa-large;
        }

        .purple-large {
            color: $purple-aa-large;
        }

        .violet-large {
            color: $violet-aa-large;
        }

        .gray-large {
            color: $gray-aa-large;
        }
    }
}