@import '@symbiotetech/symbiote-component-library/src/styles/variables/colors';
@import '@symbiotetech/symbiote-component-library/src/styles/variables/settings';
@import '@symbiotetech/symbiote-component-library/src/styles/variables/mixins';
@import '@symbiotetech/symbiote-component-library/src/styles/core/grid';

.grid-demo {
    border: 1px solid $gray-aa-small;
    border-radius: 0.25rem;
    margin: 0 0 1rem 0;

    .col-1, .col-3, .col-4, .col-6, .col-12 {
        text-align: center;

        p {
            background-color: $cyan-aa-large;
            padding: 0.5rem 0;
            margin: 0.5rem 0;
            // border: 1px solid $gray-aa-small;
        }
    }
}